body{
  background-image: url("C:\Users\user\Desktop\skku\학회_멋진사자처럼\2학기본프로젝트\project_bookstore\login.png");
}

.App {
  text-align: center;
  background-color: white;
}

.Auth-form-container {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 510px;
  margin: 0 auto;
  margin-top: 200px;
}
.icon2 {
  width: 150px;
}
.Auth-form {
  width: 900px;
  height: 510px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 56px;
  background-color: white;
  display: flex;
  flex-direction: row;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
  margin-top: 70px;
  margin-left: -20px;
}
.Auth-form-logintitle {
  text-align: center;
  margin-bottom: 1em;
  font-size: 20px;
  color: #FFD742;
  font-weight: 900;
  border-radius: 56px;
  margin-top: 50px;
  margin-left: 30px;
  width: 380px;
}
.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
  border-radius: 56px;
  width: 350px;
}

.form-group{
  border-radius: 56px;
  width: 350px; 
}

.loginbtn{
  background-color: #FFD742;
  border-color: #FFD742;
  border-radius: 56px;
  width: 350px;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
